* {
  box-sizing: border-box;
}

body {
    margin:0px,20px,20px,20px;
    font-family : "Inter", sans-serif;
    color: white;
    background-color:  rgb(16, 16, 3);
}
 
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap:3rem;
    border-bottom: solid 1px #aaa;
     /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 20px;
    font-weight: 700;
}

nav a{
    display:inline-block;
    min-width:9px;
    padding:0.5rem;
    border-radius:0.5rem;
    border:solid 1px rgb(22,22,22);
    text-align:center;
    text-decoration: rgb(199, 90, 40);
    color: #1b1b1b;
}
nav a[aria-current='page']{
    color:rgb(232, 218, 218);
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
nav a[target = "_blank"]{
    color: rgb(251, 247, 247);
    background-color: rgb(218, 32, 32);
}

main{
    padding:1rem;
}
h1{
    font-weight: bold;
    font-size: 1.5rem;
    align-items: center;
}

.projects{ /* here we put . to identify it as the class */
    display: flex;
    flex-direction: column;
}
.project-line{
    background-color: #eee8e8;
    padding: 10px 30px;
    border-radius:8px ;
    color:#1b1b1b;
    text-decoration: none;
    border: 2px solid #121212;
    margin-top:5px;
}