body{
  width: 300px;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background-color: #212121;
}
#title{
    background-color: black;
}
.lastResults{
    color: white;
    padding: 7px;
}
button{
    background-color: #000;
    color: aliceblue;
    width: 250px;
    height: 50px;
    border-radius: 0.9rem;
}
 #subt{  /*inside the button */
  background-color: #161616;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 50px;
  align-items: center;
  /* margin-left: 75px*/
}
#guessField {
    color: #000;
    width: 250px;
    height: 50px;
    font-size:30px;
    border-style: none;
    margin-top: 25px;
    border: 5px solid  rgb(45, 143, 224);
    text-align: center;
}
main{ /*wrapper
    /* text-align: center; */
    background-color: rgb(64, 69, 73);
    box-sizing: border-box;
    text-align: center;
    width:480px ;
    height: 600px;
    /* font-size: 18px; */
}

p{
    font-size: 16px;
    text-align: center;
}
#guess{
    font: 3em sans-serif;
    margin-top: 1em;
    padding: 20px 50px;
    
}
.lowOrHi{
    background-color: rgb(60, 101, 138);
    color: #000;
}
#errBox{
    display:none;
    background-color:#ff4d4d;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    animation: fadeIn 0.3s ease-in
}
@keyframes fadeIn{
    from{opacity:0; transform:translateY(-5px);}
    to{opacity:1; transform:translateY(0);}
}